.todo {
  width: 60%;
  position: relative;
  @media (max-width: 1000px) {
    width: 100%;
  }

  > input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  .action {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    .buttonBox {
      > * {
        margin-right: 10px;
      }
    }
  }
}
